<div class="modal">
    <div class="modal-dialog fadeDown in" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <h3 class="modal-title">Modal title</h3>
        <div class="modal-body">
          <p>Moday body</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="openModal = false">Ok</button>
        </div>
          </div>
    </div>
  </div>
<div class="modal-backdrop fade in" aria-hidden="true"></div>
