<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <span class="title">Project Clarity</span>
    </div>
    <div class="header-nav">
      <a href="https://clarity.design/" class="nav-link nav-icon">
        <clr-icon shape="help"></clr-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-link" routerLink="/core" routerLinkActive="active">Core Components</a>
        <a class="nav-link" routerLink="/angular" routerLinkActive="active">Angular Components</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
